body{
  color: #333;
}
img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
header{
  display:flex;
  justify-content: space-between;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight:bold;
}
header nav{
  display:flex;
  gap: 15px;
}

div.post{
  display:grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 26px;
}
div.post div.image{
  width: 40%
}
div.post p.info{
  margin:0;
  color:#888;
  font-size: .7rem;
  font-weight: bold;

}
